<% @page_title = "UserAuth | Signup" %>
<!DOCTYPE html>
<head>

<% stylesheet_link_tag "style" %>
</head>
<body>
  <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    
  <div class="fadeInDown">

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" style=" display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;" />
    </div>

<h1 style="text-align: center;">VelOCRaptor</h1>
<div style="height: 440px;" class="wrapper">
  <h3 style="color: black;">Sign Up</h3>
  <%= form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f| %>
    <fieldset>
    <!-- <legend>Please Log In</legend> -->
    <div class="container">
      <p style="text-align: center;"> Username</br> <%= f.text_field :username, class:"signupText"%> </p>
      <p style="text-align: center;"> mapRoleID</br> <%= f.select(:mapRoleID, options_for_select([ ['TKA',1] ,['FUNDING',2],['STGA',3],['QCA',4],['AUTHOR',5],['ADDRESS',6],['STGD',7],['QCD',8], ['ADMIN',11] ] ),{}, { :class => 'styled-select' })%> </p>
      <p style="text-align: center;"> Password</br> <%= f.password_field :password, class:"signupText"%></p>
      <p style="text-align: center;"> Confirm Password</br> <%= f.password_field :password_confirmation, class:"signupText"%> </p>
    </div>
    <div>
    <p style="text-align: center;"><%= f.submit :Signup,class:"signupButton" %></p>
  </div>
</fieldset>
  <% end %>
  <% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>
</div>
</div>