<%= button_to 'Main Page',index1_path,method: :get,class: "button2" %>
</br>
<p>AUTHORS</p>
<%= form_tag(authors_path, method: :get) do %>
<table class="table">
<tr class="tr">
<% @my_date1 = Time.now - 4.years %>
<% @my_date2 = Time.now %>
<td>AccessionItemNo:<%= text_field_tag :accession %></td>
<td>JournalSequence:<%= text_field_tag :journal %></td>
<td><span>SDate:</span><div class="container" style="width:100%;">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <!-- <input type='text' class="form-control" /> -->
                    <div class="input-group-addon" style="width:100%;">
                        <%= text_field_tag :datetimepicker1 %>
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
    $('#datetimepicker1').datetimepicker({
        format : 'YYYY-MM-DD HH:mm',
        defaultDate: "11/1/2013"
                    
    });
});
        </script>
    </div>
</div></td>
<td><span>EDate:</span><div class="container"  style="width:100%;">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <!-- <input type='text' class="form-control" /> -->
                    <div class="input-group-addon"  style="width:100%;">
                        <%= text_field_tag :datetimepicker2 %>
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                var date=new Date().getFullYear();
                var month=parseInt(new Date().getMonth());
                month=month+1;
                date=date+"-"+month.toString();
                date=date+"-"+new Date().getDate();
                date=date+" "+new Date().getHours();
                date=date+":"+new Date().getMinutes();
                console.log(date.toString());
    $('#datetimepicker2').datetimepicker({
        format : 'YYYY-MM-DD HH:mm',
        defaultDate: date.toString()
                    
    });
    
});
        </script>
    </div>
</div></td>

<td><%= submit_tag 'Search' %></td>
</tr>
</table>
<% end %>
	<table class="table">
	<tr class="tr">
		<td>Date</td>
		<td>ItemID</td>
		<td>AccessionItemNo</td>
		<td>JournalSequence</td>
		<td>Priority</td>
		<td>Workflow</td>
        <td>JobName</td>	
	</tr>
<% for t in @details %>
	<tr class="tr">
	<td><%= t.created_at %></td>
	<td><%= t.itemID %></td>
	<td><%= t.accessionItemNo %></td>
	<td><%= t.journalSequence %></td>
	<td><%= t.priority %>
		<%= form_tag(:action => 'updateAuthors') do %>
		<%= text_field_tag(:priority) %>
		<%= hidden_field_tag 'id' , t.itemID %>
		<%= submit_tag("Change") %>
  		<% end %></td>
	<td><%= link_to 'Show', {:action => 'show', :id => t.itemID}, :onclick=>"window.open(this.href,'show_details', 'height=600, width=600');return false;" %></td>
    <td><%= t.jobName %></td>

	</tr>
<% end %>
</table>
<p style="text-shadow: 0px 0px black;">
Download:
<%= link_to "Excel", authors_path(request.parameters.merge({format: :xls})), 
    download: 'authors.xls' %>
</p>